
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
    outline-style:none;    
  }

  a:hover{
    text-decoration: none;
}


.chip-small {
    display: inline-block;
    padding: 0 25px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip-small img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}