<div class="incidents">
  <div class="row">
      <div [ngClass]="listCol">
          <div class="card">
              <div class="card-header sub-header">
                 List of Incidents
                 <div class="pull-right">
                     <a href="/incidents/create"><i style="color:#007bff" class="fa fa-plus-square"></i> New Incident </a>&nbsp;
                 </div>
              </div>
              <div class="card-body">
                  <div class="card-body table-responsive">
                      <app-incidents-list #incidentsList></app-incidents-list>
                  </div>
              </div>
          </div>
      </div>
   
  </div>
</div>
