﻿@model SERApp.Models.HtmlTemplatesModel.DayReport
<body style="font-family:Arial">

    <table cellpadding="5" style="border:none;width:800px;border-spacing: 0px;">
        <tr>
            <th align="left" style="width:33%">
                @Model.AccountName
            </th>
            <th align="center" style="width:33%">
                @Model.Title
            </th>
            <th align="right" style="width:33%">
                @Model.SiteName
            </th>
        </tr>
        <tr>
            <th>

            </th>
            <th>

            </th>
            <th align="right">
                @Model.Date.ToString("yyyy-MM-dd")
            </th>
        </tr>

    </table>
    <br />

    <table cellpadding="5" style="border:none;width:800px;border-spacing: 0px;">
        <tr bgcolor="#2980ba" style="color:white">
            <th align="left">
                Guards on duty today
            </th>
        </tr>
        <tr bgcolor="#dcdcdc">
            <td>
                @Model.Guards
            </td>
        </tr>
    </table>
    <br />
    <table cellpadding="5" style="border:none;width:800px;border-spacing: 0px;">
        <tr bgcolor="#2980ba" style="color:white">
            <th align="left">
                Summary
            </th>
        </tr>
        <tr bgcolor="#dcdcdc">
            <td>
                @Model.Summary
            </td>
        </tr>
    </table>
    <br />
    <table cellpadding="5" style="border:none;width:800px;border-spacing: 0px;">      
        <tr bgcolor="#dcdcdc">
            <td>
                Total waiting time police (P): &nbsp;&nbsp; @Model.TotalP
            </td>
          
            <td>
                Number of Persons involved (Q): &nbsp;&nbsp; @Model.TotalQ
            </td>
            
        </tr>
    </table>
    <br />
    <table cellpadding="5" style="border:none;width:800px;border-spacing: 0px;">
        <tr bgcolor="#2980ba">
            <th align="left" bgcolor="#2980ba" style="color:white">
                Time
            </th>
            <th align="left" bgcolor="#2980ba" style="color:white">
                Vad
            </th>
            <th align="left" bgcolor="#2980ba" style="color:white">
                Var
            </th>
            <th align="left" bgcolor="#2980ba" style="color:white">
                Vem
            </th>
            <th align="left" bgcolor="#2980ba" style="color:white">
                Guard
            </th>
            <th align="left" bgcolor="#2980ba" style="color:white">
                Q
            </th>
            <th align="left" bgcolor="#2980ba" style="color:white">
                P
            </th>
        </tr>

        @{
            var altRow = false;
        }
        @foreach (var incident in Model.Incidents)
        {
            <tr bgcolor="@(altRow ? "" : "#dcdcdc")">
                <td bgcolor="@(altRow ? "" : "#dcdcdc")">
                    @incident.Time.ToString("HH:mm")
                </td>
                <td bgcolor="@(altRow ? "" : "#dcdcdc")">
                    @incident.Type1.Name
                </td>
                <td bgcolor="@(altRow ? "" : "#dcdcdc")">
                    @incident.Type2.Name
                </td>
                <td bgcolor="@(altRow ? "" : "#dcdcdc")">
                    @incident.Type3.Name
                </td>
                <td bgcolor="@(altRow ? "" : "#dcdcdc")">
                    @foreach (var guard in incident.IncidentGuard)
                    {
                        <span>@guard.Guard.Name</span>
                    }
                </td>
                <td bgcolor="@(altRow ? "" : "#dcdcdc")">
                    @incident.Quantity
                </td>
                <td bgcolor="@(altRow ? "" : "#dcdcdc")">
                    @incident.PoliceResponse
                </td>
            </tr>
            <tr bgcolor="@(altRow ? "" : "#dcdcdc")">
                <td colspan="7" bgcolor="@(altRow ? "" : "#dcdcdc")">
                    @incident.ActionDescription
                </td>
            </tr>

            altRow = !altRow;
        }
    </table>
</body>





