﻿@model SERApp.Models.HtmlTemplatesModel.WeekReport
<table style="border:none;width:800px">
    <tr>
        <th align="left" style="width:33%">
            @Model.AccountName
        </th>
        <th align="center" style="width:33%">
            @Model.Title
        </th>
        <th align="right" style="width:33%">
            @Model.SiteName
        </th>
    </tr>
    <tr>
        <th>

        </th>
        <th>

        </th>
        <th align="right">
            @Model.Date1 to @Model.Date1
        </th>
    </tr>

</table>
<br />