﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <!-- Add custom CSS here -->
    <!-- Bootstrap core CSS -->
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" />
    <link href="Assets/css/sb-admin.css" rel="stylesheet">
    <link href="Content/Site.css" rel="stylesheet">

    <link href="~/Areas/Mobile/Assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="~/Assets/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/responsive.dataTables.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap-select.min.css" rel="stylesheet" />

    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/morris.js/0.4.3/morris.css">
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Page Specific Plugins -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="https://cdn.bootcss.com/morris.js/0.4.3/morris.min.js"></script>
    <script src="~/Scripts/typeahead.bundle.js"></script>

    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/underscore.min.js"></script>
    <script src="~/Scripts/components/knockout-helpers.js"></script>

    <script src="~/Assets/js/jquery.dataTables.js"></script>
    @*<script src="~/Assets/js/responsive.bootstrap.min.js"></script>*@
    <script src="~/Assets/js/dataTables.responsive.min.js"></script>
    <script src="~/Assets/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/components/global.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <script type="text/javascript">
        //Global objects
        var getFacilities = function () {
            return $.ajax({
                url: '/Common/GetAllFacilites',
                type: 'json',
                method: 'get'
            });
        }

        var getLoanTypes = function () {
            return $.ajax({
                url: '/Common/GetAllLoanTypes',
                type: 'json',
                method: 'get'
            });
        }

        var getConfirmationTypes = function () {
            return $.ajax({
                url: '/Common/GetAllConfirmationTypes',
                type: 'json',
                method: 'get'
            })
        }

        var statuses = [
            { Name: 'All', Id: 0 },
            { Name: 'Active', Id: 1 },
            { Name: 'Returned', Id: 2 },
            { Name: 'Deleted / Archived', Id: 3 }
        ];

        var facilitiesData = [];
        var loanTypes = [];


        $.ajaxSetup({
            beforeSend: function (jqXHR, settings) {
                $('.loading').show();
            },
            complete: function (jqXHR, settings) {
                setTimeout(function () {
                    $('.loading').hide();
                }, 500);
                
            }
        });
    </script>
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SER APP</a>
            </div>
            <div id="side-navigation-container"></div>
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12 pad-x-5">
                    @RenderBody()
                </div>
            </div>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - 2017 KVITTENS - NEW VERSION. Version: 1.0.5</p>
            </footer>
        </div>
    </div>
    @RenderSection("scripts", required: false)
    
</body>
</html>
