<div class="custom-type">
  <div class="row">
      <div [ngClass]="listCol">
          <div class="card">
              <div class="card-header sub-header">
                 List of Custom Type
                 <div class="pull-right">
                     <a href="/custom-types/create"><i style="color:#007bff" class="fa fa-plus-square"></i> New Custom Type </a>&nbsp;
                 </div>
              </div>
              <div class="card-body">
                  <div class="card-body table-responsive">                      
                      <app-custom-type-list #customTypeList></app-custom-type-list>
                  </div>
              </div>
          </div>
      </div>
   
  </div>
</div>
