<div class="sites-update">
    <div class="row">
        <div class="col-md-12"> 
            <div class="card mb-3">
                <div class="card-header">
                   Create a New Site
                    <div [hidden]="!showSpinner">
                        <app-spinner></app-spinner>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-content">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="model.Name" class="form-control input-underline input-sm" id="" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="model.Address" class="form-control input-underline input-sm" id="" placeholder="Address">
                        </div>
                          <div class="form-group">
                            <input type="text" [(ngModel)]="model.City" class="form-control input-underline input-sm" id="" placeholder="City">
                        </div>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="model.PostalCode" class="form-control input-underline input-sm" id="" placeholder="Postal Code">
                        </div>
                         <div class="form-group">
                            <textarea [(ngModel)]="model.AdditionalLocationInfo" class="form-control input-underline input-sm" id="" placeholder="Additional Location Information"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="model.PhoneNumber" class="form-control input-underline input-sm" id="" placeholder="Phone Number">
                        </div>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="model.FaxNumber" class="form-control input-underline input-sm" id="" placeholder="Fax Number">
                        </div>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="model.ContactPerson" class="form-control input-underline input-sm" id="" placeholder="Contact Person">
                        </div>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="model.ContactPersonNumber" class="form-control input-underline input-sm" id="" placeholder="Contact Number">
                        </div>
                         <div class="form-group">
                            <input type="checkbox" #isActiveCheck id="isActiveCheck" (change)="onIsActiveChange(isActiveCheck.checked)" [(ngModel)]="model.IsActive"> Active &nbsp;
                            <input type="checkbox" #isDeletedCheck id="isDeletedCheck" (change)="onIsDeletedChange(isDeletedCheck.checked)" [(ngModel)]="model.IsDeleted"> Deleted
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" [disabled]="!model.Name || !model.Address" (click)="saveChanges()" class="btn btn-success rounded-btn"> Save </button>&nbsp;
                    <a class="btn btn-default rounded-btn" [routerLink]="['/objects']"> Cancel </a>
                </div>
            </div>
        </div>
    </div>
</div>
