<div class="account">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header">
                   List of Objects
                   <div class="pull-right" [hidden]="!isAdminOrUserEditor">
                       <a href="/objects/create"><i style="color:#007bff" class="fa fa-plus-square"></i> New Objects </a>&nbsp;
                   </div>
                </div>
                <div class="card-body">
                    <div class="card-body table-responsive">
                        <app-sites-list #sitesList></app-sites-list>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>
