<div class="users">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header">
                   List of Users
                   <div class="pull-right" [hidden]="!isAdminOrUserEditor">
                       <a href="/users/create"><i style="color:#007bff" class="fa fa-plus-square"></i> New User </a>&nbsp;
                   </div>
                </div>
                <div class="card-body">
                    <div class="card-body table-responsive">
                        <app-users-list #usersList></app-users-list>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>
