<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>
<div id="accounts-module-list-component">
    <table class="table table-bordered table-sm">
        <thead class="thead-inverse">
        <tr>
            <th *ngIf="!hideAccountName">Account Name</th>
            <th style="text-align:center">Modules</th>
        </tr>
        </thead>
        <tbody>
         <tr *ngFor="let item of dataList | paginate: { itemsPerPage: itemPerPage, currentPage: currentPage, totalItems: totalItems }">
                <td *ngIf="!hideAccountName"> {{ item.Account.Name }}</td>
                <td>
                    <table class="table table-bordered table-striped">
                        <tr>
                            <!-- <th style="text-align:center">Status</th> -->
                            <th style="text-align:center">Enabled</th>
                            <th>Modules</th>
                            <th>Date Added</th>
                        </tr>
                        <tr *ngFor="let module of item.Modules" style="width:100%">
                            <!-- <td class="status-col">
                                <i [hidden]="module.IsActive == 0" style="color:green" class="fa fa-check-circle"></i>
                                <i [hidden]="module.IsActive == 1" style="color:red" class="fa fa-exclamation-circle"></i>
                            </td> -->
                            <td class="action-col">
                                <input type="checkbox" [(ngModel)]="module.IsInAccount" (click)="toggleModule(item.Account.Id,module)" />
                            </td>
                            <td> {{ module.Title }}</td>
                            <td> {{ (module.DateAdded | dateFormat:'MM-DD-YYYY hh:mm:ss a') | uppercase }} </td>
                        </tr>
                    </table>
                </td>
            </tr> 
        </tbody>
    </table>
    <br />
    <div class="pull-right">
        <pagination-controls (pageChange)="loadData($event)"></pagination-controls> 
    </div>
</div>