<div class="accounts-mnodule">
    <div class="row">
        <div class="col-md-12"> 
            <div class="card mb-3">
                <div class="card-header">
                   List of Accounts with Modules
                </div>
                <div class="card-body">
                    <div class="card-body table-responsive">
                        <div class="pull-left" style="padding-bottom:10px;">
                            <h6 style="font-weight:bold; vertical-align:middle; line-height: 30px;">{{ selectedAccountName }}</h6>
                        </div>
                         <div class="pull-right" style="padding-bottom:10px;display:flex">
                                <input type="search" [(ngModel)]="searchInput" class="form-control input-sm input-underline search-input"  placeholder="Search Account"/> 
                                <button type="button" (click)="search()" class="btn btn-xs btn-default search-btn"><i class="fa fa-search"></i></button>
                         </div>
                         <app-accounts-module-list #accountsModuleList></app-accounts-module-list>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>
