<div class="accounts-create">
    <div class="row">
        <div class="col-md-12"> 
            <div class="card mb-3">
                <div class="card-header">
                    <div [hidden]="!showSpinner">
                        <app-spinner></app-spinner>
                    </div>
                   Register a New Account
                </div>
                <div class="card-body flex">
                    <div class="col-sm-6 form-content">
                        <div class="form-group mb-1">
                            <span class="form-span-label">Company</span>
                            <input type="text" (change)="changeCompany()" [(ngModel)]="model.Company" class="form-control input-underline input-sm" id="" placeholder="Company">
                        </div>
                        <div class="form-group mb-1">
                            <span class="form-span-label">Account Name</span>
                            <input type="text" [disabled]="true" [(ngModel)]="model.Name" class="form-control input-underline input-sm" id="" placeholder="Name">
                        </div>
                        <div class="form-group mb-1">
                            <span class="form-span-label">Email Address</span>
                            <input type="text" [(ngModel)]="model.EmailAddress" class="form-control input-underline input-sm" id="" placeholder="Email">
                        </div>
                    </div>
                     <div class="col-sm-6 form-content">
                            <div class="form-group mb-1">
                                <span class="form-span-label">Contact Name</span>
                                <input type="text" [(ngModel)]="model.ContactName" class="form-control input-underline input-sm" id="" placeholder="Contact Name">
                            </div>
                            <div class="form-group mb-1">
                                <span class="form-span-label">Contact #</span>
                                <input type="text" [(ngModel)]="model.ContactNumber" class="form-control input-underline input-sm" id="" placeholder="Contac #">
                            </div>
                        </div>
                </div>
                <div class="card-footer">
                    <button type="button" [disabled]="!model.Company || !model.Name || !model.EmailAddress" (click)="saveChanges()" class="btn btn-success rounded-btn"> Save </button>&nbsp;
                    <a class="btn btn-default rounded-btn" [routerLink]="['/accounts']"> Cancel </a>
                </div>
            </div>
        </div>
    </div>
</div>
