
<div class="card" id="details-loan">
    <div class="card-header sub-header">
         <div class="pull-left">
             Loan Preview &nbsp;&nbsp;
             <span class="badge" [ngClass]="badgeClass">{{ status }}</span> 
             <span class="badge" [ngClass]="customerTypeClass">{{ customerType }}</span> 
         </div>
         <div class="pull-right">
            
            <a [hidden]="returned" (click)="returnLoan()"><i style="color:#17a2b8" class="fa fa-check-circle"></i></a>&nbsp;
            <a href="/loans"><i style="color:#007bff" class="fa fa-print"></i></a>&nbsp;
            <a href="/loans/{{ model.Id }}/edit"><i style="color:#007bff" class="fa fa-pencil"></i></a>&nbsp;
            <a href="/loans"><i style="color:#007bff" class="fa fa-arrow-circle-left"></i></a>&nbsp;
        </div>
    </div>
        <div class="card-body table-responsive main-control-body">
                <div *ngIf="model.PhotoUrl" class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-float" style="text-align:center">
                            <span class="form-span-label">Photo</span>
                            <img src="{{ model.PhotoUrl }}"  class="img-fluid img-rounded img-thumbnail" style="height: 300px;width: 250px;" #imagePreview />
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Name</span>
                                <label class="col-form-label-sm">{{ model.Customer.Name }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Company</span>
                                <label class="col-form-label-sm">{{ model.Customer.Company }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Address 1</span>
                                <div class="input-group">
                                    <label class="col-form-label-sm">{{ model.Customer.Address1 }}</label>
                                    <span class="form-label-symbol">
                                        <span class="fa fa-map-marker"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">City</span>
                                <div class="input-group">
                                    <label class="col-form-label-sm">{{ model.Customer.City }}</label>
                                    <span class="form-label-symbol">
                                        <span class="fa fa-map-marker"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Post Code</span>
                                <div class="input-group">
                                    <label class="col-form-label-sm">{{ model.Customer.ZipCode }}</label>
                                    <span class="form-label-symbol">
                                        <span class="fa fa-map-marker"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Email</span>
                                <div class="input-group">
                                    <label class="col-form-label-sm">{{ model.Customer.Email }}</label>
                                    <span class="form-label-symbol">
                                        <span class="fa fa-envelope-o"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Site</span>
                                <div class="input-group">
                                    <label class="col-form-label-sm">{{ model.Site.Name }}</label>
                                    <span class="form-label-symbol">
                                            <span class="fa fa-hospital-o"></span>
                                    </span>    
                                </div>
                                                                   
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Mobile #</span>
                                <div class="input-group">
                                    <label class="col-form-label-sm">{{ model.Customer.MobileNumber }}</label>
                                    <span class="form-label-symbol">
                                        <span class="fa fa-phone"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Type</span>
                                <label class="col-form-label-sm">{{ model.LoanType.Name }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Item Name / Id</span>
                                <label class="col-form-label-sm">{{ model.ItemNameId }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Start</span>
                                <div class="input-group date" id="datetimepicker1">
                                    <label class="col-form-label-sm">{{ model.LoanedDate | date : 'MM-dd-yyyy, h:mm a' }}</label>
                                    <span class="form-label-symbol">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Expected Return</span>
                                <div class="input-group date" id='datetimepicker1'>
                                    <label class="col-form-label-sm">{{ model.ReturnedDate === '0001-01-01T00:00:00' ? 'N / A' : model.ReturnedDate | date : 'MM-dd-yyyy, h:mm a' }}</label>
                                    <span class="form-label-symbol">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Description</span>
                                <label class="col-form-label-sm">{{ model.Description }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Actual Returned Date</span>
                                <label class="col-form-label-sm">{{ model.ActualReturnedDate }}</label>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Given By</span>
                                <label class="col-form-label-sm">{{ model.GivenBy === null ? '( )' : model.GivenBy }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Received By</span>
                                <label class="col-form-label-sm">{{ model.ReceivedBy }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="margin:10px 0px" />
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-float">
                            <label>Confirmation <i class="fa fa-bell-o" style="color:#0094ff"></i></label>
                            <div class="pull-right">
                                <button type="button" class="btn btn-xs btn-info"><i class="fa fa-send"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <ul id="confirmation-audit-list">
                            <li *ngIf="model.StatusId === 4">
                                <span><i class="fa fa-exclamation-circle primary"></i> Email confirmation</span>
                                <span></span> was <span style="font-weight:bold;text-transform:uppercase">SENT</span> to 
                                <span style="font-weight:bold;">{{ model.Customer.Email }}</span>
                                <span class="form-span-label-nb">{{ model.CreatedDate | date : 'MM-dd-yyyy HH:mm a' }}</span>
                            </li>
                            <div *ngIf="model.StatusId === 1 || model.ConfirmedDate !== '0001-01-01T00:00:00'">
                                <li>
                                    <span><i class="fa fa-exclamation-circle primary"></i> Email confirmation</span>
                                    <span></span> was <span style="font-weight:bold;text-transform:uppercase">SENT</span> to 
                                    <span style="font-weight:bold;">{{ model.Customer.Email }}</span>
                                    <span class="form-span-label-nb">{{ model.CreatedDate | date : 'MM-dd-yyyy HH:mm a' }}</span>
                                </li>
                                <li>
                                    <span><i class="fa fa-exclamation-circle primary"></i> Email confirmation</span>
                                    <span></span> was <span style="font-weight:bold;text-transform:uppercase">RECEIVED AND CONFIRMED</span> by 
                                    <span style="font-weight:bold;">{{ model.Customer.Email }}</span>
                                    <span class="form-span-label-nb">{{ model.ConfirmedDate !== '0001-01-01T00:00:00' ? model.ConfirmedDate : model.LastModifiedDate  | date : 'MM-dd-yyyy HH:mm a' }}</span>
                                </li>
                            </div>
                            <div *ngIf="model.StatusId === 2 || model.ActualReturnedDate !== '0001-01-01T00:00:00'">
                                <li>
                                    <span><i class="fa fa-exclamation-circle primary"></i> Email confirmation</span>
                                    <span></span> was <span style="font-weight:bold;text-transform:uppercase">SENT</span> to 
                                    <span style="font-weight:bold;">{{ model.Customer.Email }}</span>
                                    <span class="form-span-label-nb">{{ model.CreatedDate | date : 'MM-dd-yyyy HH:mm a' }}</span>
                                </li>
                                <li>
                                    <span><i class="fa fa-exclamation-circle info"></i> Email confirmation</span>
                                    <span></span> was <span style="font-weight:bold;text-transform:uppercase">RECEIVED AND CONFIRMED</span> by 
                                    <span style="font-weight:bold;">{{ model.Customer.Email }}</span>
                                    <span class="form-span-label-nb">{{ model.ConfirmedDate !== '0001-01-01T00:00:00' ? model.ConfirmedDate : model.LastModifiedDate  | date : 'MM-dd-yyyy HH:mm a' }}</span>
                                </li>
                                <li>
                                    <span><i class="fa fa-check-circle success"></i> Loan confirmation</span>
                                    <span></span> was <span style="font-weight:bold;text-transform:uppercase">SENT AND RETURNED</span> by 
                                    <span style="font-weight:bold;">{{ model.Customer.Email }}</span>
                                    <span class="form-span-label-nb">{{ model.ActualReturnedDate !== '0001-01-01T00:00:00' ? model.ActualReturnedDate : 'N / A' | date : 'MM-dd-yyyy HH:mm a' }}</span>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
        </div>
</div>

