<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>
<div id="loans-list">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr>
            <th>Status</th>
            <th [hidden]="isPreviewOn">Date Created</th>
            <th>Object</th>
            <th>Item Type</th>
            <th [hidden]="isPreviewOn">Customer Type</th>
            <th>Person</th>
            <th>Loaned Date</th>
            <th [hidden]="isPreviewOn">Returned Date</th>
            <th [hidden]="!isAdminOrUserEditor || isPreviewOn" style="text-align:center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr [hidden]="totalItems > 0">
                <td colspan="9" style="text-align: center;">
                    No Records to show
                </td>
        </tr>
        <tr *ngFor="let item of packageData | async  | 
        paginate: { itemsPerPage: itemPerPage, currentPage: currentPage, totalItems: totalItems }"
        style="cursor:pointer" (click)="onPreview(item)">
            <td class="status-col" style="text-align:center">
                <div [hidden]="item.Status != 'NotConfirmed'">
                    <span><i class="fa fa-exclamation-circle primary"></i></span> &nbsp;
                </div>
                <div [hidden]="item.Status != 'Returned'">
                     <span><i class="fa fa-check-circle success"></i></span> &nbsp;
                </div>
                <div [hidden]="item.Status != 'PassedReturnedData'">
                     <span><i class="fa fa-exclamation-triangle warning"></i></span> &nbsp;
                </div>
                <div [hidden]="item.Status != 'Deleted'">
                     <span><i class="fa fa-times-circle danger"></i></span> &nbsp;
                </div>
            </td>
            <td [hidden]="isPreviewOn" style="text-align: center;">{{ item.CreatedDate | date : 'MM-dd-yyyy' }} </td>
            <td>{{ item.Site.Name }} </td>
            <td>{{ item.LoanType.Name }} </td>
            <td [hidden]="isPreviewOn">{{ item.CustomerTypeId === 1 ? 'Customer' : 'Tenant'  }} </td>
            <td>{{ item.Customer.Name  }} </td>
            <td>{{ item.LoanedDate | date : 'MM-dd-yyyy, h:mm a' }}</td>
            <td [hidden]="isPreviewOn">{{ item.ReturnedDate === '0001-01-01T00:00:00' ? 'N / A' : item.ReturnedDate | date : 'MM-dd-yyyy, h:mm a' }}</td>
            <td [hidden]="!isAdminOrUserEditor || isPreviewOn" style="text-align:center">
                <a (click)="editLoan(item.Id)"><i class="warning fa fa-pencil"></i></a> &nbsp;
                <a (click)="deleteLoan(item.Id)"><i class="danger fa fa-trash"></i></a> &nbsp;
            </td>
        </tr>  
    </table>
    <br />
    <div class="pull-right">
        <pagination-controls (pageChange)="loadData($event)"></pagination-controls> 
    </div>
</div>
