
<div class="col-md-12" style="padding-top: 20px;">
    <div class="card confirm-loan">
        <div class="card-header">
            Loan Preview
        </div>
        <div class="card-body table-responsive main-control-body" style="overflow:hidden;">
                <!-- <div [hidden]="!showSpinner">
                    <app-spinner></app-spinner>
                </div> -->
                <div *ngIf="confirmed" class="alert alert-danger">
                    This Loan has been confirmed !
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Name</span>
                                <label class="col-form-label-sm">{{ model.Customer.Name }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Company</span>
                                <label class="col-form-label-sm">{{ model.Customer.Company }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Address 1</span>
                                <div class="input-group">
                                    <label class="col-form-label-sm">{{ model.Customer.Address1 }}</label>
                                    <span class="form-label-symbol">
                                        <span class="fa fa-map-marker"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">City</span>
                                <div class="input-group">
                                    <label class="col-form-label-sm">{{ model.Customer.City }}</label>
                                    <span class="form-label-symbol">
                                        <span class="fa fa-map-marker"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Post Code</span>
                                <div class="input-group">
                                    <label class="col-form-label-sm">{{ model.Customer.ZipCode }}</label>
                                    <span class="form-label-symbol">
                                        <span class="fa fa-map-marker"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Email</span>
                                <div class="input-group">
                                    <label class="col-form-label-sm">{{ model.Customer.Email }}</label>
                                    <span class="form-label-symbol">
                                        <span class="fa fa-envelope-o"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Site</span>
                                <div class="input-group">
                                    <label class="col-form-label-sm">{{ model.Site.Name }}</label>
                                    <span class="form-label-symbol">
                                            <span class="fa fa-hospital-o"></span>
                                    </span>    
                                </div>
                                                                    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Mobile #</span>
                                <div class="input-group">
                                    <label class="col-form-label-sm">{{ model.Customer.MobileNumber }}</label>
                                    <span class="form-label-symbol">
                                        <span class="fa fa-phone"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Type</span>
                                <label class="col-form-label-sm">{{ model.LoanType.Name }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Item Name</span>
                                <label class="col-form-label-sm">{{ model.ItemName }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Start</span>
                                <div class="input-group date" id="datetimepicker1">
                                    <label class="col-form-label-sm">{{ model.LoanedDate | date : 'MM-dd-yyyy, h:mm a' }}</label>
                                    <span class="form-label-symbol">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Expected Return</span>
                                <div class="input-group date" id='datetimepicker1'>
                                    <label class="col-form-label-sm">{{ model.ReturnedDate === '0001-01-01T00:00:00' ? 'N / A' : model.ReturnedDate | date : 'MM-dd-yyyy, h:mm a' }}</label>
                                    <span class="form-label-symbol">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Description</span>
                                <label class="col-form-label-sm">{{ model.Description }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Given By</span>
                                <label class="col-form-label-sm">{{ model.GivenBy === null ? '( )' : model.GivenBy }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-float">
                            <div class="form-line">
                                <span class="form-span-label">Received By</span>
                                <label class="col-form-label-sm">{{ model.ReceivedBy }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer sub-header" style="text-align:center">
                <button type="button" [disabled]="confirmed" (click)="confirmLoan()" class="btn btn-success rounded-btn"> CONFIRM </button>&nbsp;
            </div>
    </div>
</div>

