<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>
<div id="loans-edit">
    <div class="row">
        <div class="col-md-12"> 
              <div class="card">
                <div class="card-header sub-header">
                    VIEW / EDIT LOAN
                </div>
                <div [hidden]="showSpinner" class="card-body main-control-body">
                    <div class="row clearfix">
                        <div class="col-sm-6 info-banner">
                             <div *ngIf="model.CustomerTypeId === 1" class="alert alert-secondary">
                                CUSTOMER
                            </div>
                            <div *ngIf="model.CustomerTypeId === 2" class="alert alert-dark">
                                TENANT
                            </div>
                        </div>
                        <div class="col-sm-6 info-banner">
                            <div *ngIf="model.StatusId === 4" class="alert alert-primary">
                                This Loan is not Confirmed !
                            </div>
                            <div *ngIf="model.StatusId === 1" class="alert alert-info">
                                This Loan is Confirmed and Active !
                            </div>
                            <div *ngIf="model.StatusId === 2" class="alert alert-success">
                                This Loan has been Returned!
                            </div>
                            <div *ngIf="model.StatusId === 5" class="alert alert-warning">
                                This Loan has passed it's Expected Return Date!
                            </div>
                            <div *ngIf="model.StatusId === 3" class="alert alert-danger">
                                This Loan is Deleted / Archived!
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" [(ngModel)]="model.Customer.Name" placeholder="Name" class="form-control input-sm">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" [(ngModel)]="model.Customer.Company" placeholder="Company" class="form-control input-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <div class="input-group">
                                        <input type="text" [(ngModel)]="model.Customer.Address1" placeholder="Address 1" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <div class="input-group">
                                        <input type="text" [(ngModel)]="model.Customer.City" placeholder="City" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-float">
                                <div class="form-line">
                                    <div class="input-group">
                                        <input type="text" [(ngModel)]="model.Customer.ZipCode" placeholder="Zip Code" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <select [(ngModel)]="model.SiteId" class="form-control input-sm" style="height:34px">
                                        <option value="0">Select Object</option>
                                        <option *ngFor="let item of sitesList" [value]="item.Id" [selected]="model.SiteId === item.Id">
                                            {{ item.Name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <div class="input-group">
                                        <input type="text" [(ngModel)]="model.Customer.MobileNumber" placeholder="Mobile Number" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <div class="input-group">
                                        <input type="text" [(ngModel)]="model.Customer.Email" placeholder="Email" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <select [(ngModel)]="model.TypeId" class="form-control input-sm" style="height:34px">
                                        <option value="0">Select Loan Type</option>
                                         <option *ngFor="let item of loanTypesList" [value]="item.Id" [selected]="model.TypeId === item.Id">
                                            {{ item.Name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-float">
                                <div class="form-line">
                                    <input [(ngModel)]="model.ItemNameId" type="text" placeholder="Item Name / Id" class="form-control input-sm">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <input class="input-sm" #fileUpload type="file" (change)="fileChange($event)"
                                        placeholder="Upload file..." accept=".png, .jpg, .jpeg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-4 pull-right">
                            <div class="form-group">
                                <div class="form-line">
                                    <div class="input-group date" id="datetimepicker1">
                                        <input ngbDatepicker #l="ngbDatepicker" [(ngModel)]="loanedDate" type="text" 
                                            placeholder="Loan Date" class="form-control datetimepicker input-sm">
                                        <button class="calendar-btn btn btn-default btn-sm" (click)="l.toggle()" type="button">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    <input [(ngModel)]="model.GivenBy" type="text" placeholder="Given By" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    <textarea [(ngModel)]="model.Description" placeholder="Description" class="form-control input-sm" style="height:50px"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 pull-right">
                            <div class="form-group">
                                <div class="form-line">
                                    <div class="input-group date" id='datetimepicker1' style="display:flex">
                                        <input type="text" ngbDatepicker #r="ngbDatepicker" [(ngModel)]="returnedDate"
                                            placeholder="Return Date" class="form-control datetimepicker input-sm">
                                        <button class="calendar-btn btn btn-default btn-sm" (click)="r.toggle()" type="button">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" [(ngModel)]="model.ReceivedBy" placeholder="Received By" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="form-group">
                                <hr style="margin:10px 0px" />
                                <label>Confirmation <i class="fa fa-bell-o" style="color:#0094ff"></i></label>
                                <!-- <div class="pull-right">
                                    <button type="button" class="btn btn-xs btn-info"><i class="fa fa-send"></i></button>
                                </div> -->
                                <div class="demo-radio-button">
                                    <input name="confirmation-process" type="radio" class="with-gap" id="radio-email" value=1 [checked]="model.MessageTypeId === 1" /> &nbsp;&nbsp;
                                    <span>Send via Email</span> &nbsp;&nbsp;
                                    <input name="confirmation-process" [disabled]="true" type="radio" class="with-gap" id="radio-sms" value=2 [checked]="model.MessageTypeId === 2" /> &nbsp;&nbsp;
                                    <span>Send via SMS</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 pull-right">
                            <div class="form-group">
                                <div class="form-line">
                                    <img src="{{ photoSrc }}" class="img-fluid img-rounded img-thumbnail" #imagePreview />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 pull-left">
         
                        </div>
                    </div>
                    <div class="row clearfix">
                       
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" [disabled]="model.SiteId === 0 || model.TypeId === 0 || !model.Customer.Name || !model.Customer.Email" 
                        (click)="saveChanges()" class="btn btn-success rounded-btn"> Save </button>&nbsp;
                    <a class="btn btn-default rounded-btn" [routerLink]="['/loans']"> Cancel </a>
                </div>
            </div>
        </div>
    </div>
</div>

