<div class="tag-logs">
    <div class="row">
        <div [ngClass]="listCol">
            <div class="card">
                <div class="card-header sub-header">
                   List of Tag Logs
                   <div class="pull-right">
                       <!-- <a href="/tag-logs/create"><i style="color:#007bff" class="fa fa-plus-square"></i> New Tag Logs </a>&nbsp; -->
                   </div>
                </div>
                <div class="card-body">
                    <div class="card-body table-responsive">
                        <app-tag-logs-list #tagLogList></app-tag-logs-list>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
  </div>
  