<div id="recent-logs-list-component">
    <table class="table table-striped table-bordered table-sm">
        <thead>
        <tr class="bg-primary text-white"> 
            <th>Account Name</th>
            <th>Short Description</th>
            <th>Created Date</th>
        </tr>
        </thead>
        <tbody>
              <tr *ngFor="let item of dataList | paginate: { itemsPerPage: itemPerPage, currentPage: currentPage, totalItems: totalItems }">
                <td>{{ item.Account != null ? item.Account.Name : "N / A" }}</td>
                <td>{{ item.ShortDescription }}</td>
                 <td>{{ item.CreatedDate | date : 'yyyy-MM-dd HH:mm:ss' }}</td> 
            </tr>
        </tbody>
    </table>
</div>