﻿<!-- Container -->

<div class="loading">Loading&#8230;</div>

<div id="main-component-container"></div>

<!-- Dashboard -->
@Html.Partial("~/Views/Home/Components/Dashboard/Dasbhoard.cshtml")
<!-- Side Navigation -->
@Html.Partial("~/Views/Home/Components/Navigation/SideNavigation.cshtml")
<!-- Loans -->
@Html.Partial("~/Views/Home/Components/Loans/List.cshtml")
@Html.Partial("~/Views/Home/Components/Loans/Edit.cshtml")
@Html.Partial("~/Views/Home/Components/Loans/Details.cshtml")
@Html.Partial("~/Views/Home/Components/Loans/Create.cshtml")

@Html.Partial("~/Views/Home/Components/Loans/Modals/ReturnLoan.cshtml")
  <!-- COMPONENT Scripts -->
<script src="~/Scripts/components/dashboard/dashboard.js"></script>
<script src="~/Scripts/components/navigation/side-navigation.js"></script>

<script src="~/Scripts/components/loan/list.js"></script>
<script src="~/Scripts/components/loan/edit.js"></script>
<script src="~/Scripts/components/loan/details.js"></script>
<script src="~/Scripts/components/loan/create.js"></script>
<script src="~/Scripts/components/loan/modals/return-loan.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //Knockout Bindings
        ko.ext.renderComponent("#side-navigation-container", "side-menu-navigation");
         _.defer(function () {
            setTimeout(function() {
                ko.ext.renderComponent("#main-component-container", "dashboard-main");
                $('.form-control').addClass('input-sm');

                getFacilities().done(function (data) {
                    facilitiesData = JSON.parse(data).data;
                })
                getLoanTypes().done(function (data) {
                    loanTypes = JSON.parse(data).data;
                })
            }, 500);
        });
    })
</script>