<div class="mobile loans-mobile-landing">
    <div class="mobile-contents">
        <div class="mobile-main-header">
            <div class="header-title header-title-single"><h5>LOANS</h5></div>
        </div>
        <br />
        <div class="col-sm-12">
            <div class="control-group">
                 <div (click)="navigateCreateNew()" class="row">                         
                        <button type="button" class="btn btn-md btn-success col-sm-12 main-btn">
                           CREATE NEW LOAN &nbsp;&nbsp;<span><i class="fa fa-plus-square"></i></span>
                        </button>
                </div>
                <br />
                <div (click)="navigateList()" class="row">
                        <button type="button" class="btn btn-md btn-primary col-sm-12 main-btn">
                           FIND & RETURN / VIEW &nbsp;<span><i class="fa fa-search"></i></span>
                        </button>
                </div>
                <br /><br /><br />
                <div class="col-sm-12 mobile-list-norecord">
                   <span>
                        <i class="fa fa-check-circle fa-5x"></i>
                    </span>
                    <h4></h4><br />
                    <small>
                        Create a New Loan or Find Loan records for viewing details or returning.
                    </small>
                </div>
                <!-- <div class="row">
                        <button (click)="navigateDetails()" type="button" class="btn btn-md btn-primary col-sm-12 main-btn">
                           DETAILS &nbsp;<span><i class="fa fa-asterisk"></i></span>
                        </button>
                </div>
                <br />
                <div class="row">
                        <button (click)="navigateReturn()" type="button" class="btn btn-md btn-primary col-sm-12 main-btn">
                           RETURN &nbsp;<span><i class="fa fa-key"></i></span>
                        </button>
                </div> -->
                <br />    
            </div>   
        </div> 
    </div>
</div> 