﻿<!-- Container -->
<div id="mobile-main-component-container"></div>

@Html.Partial("~/Areas/Mobile/Views/Home/Components/Loans/Create.cshtml")

<script src="~/Areas/Mobile/Scripts/components/loan/create.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('pre').remove();
        _.defer(function () {
            setTimeout(function () {
                ko.ext.renderComponent("#mobile-main-component-container", "mobile-loan-create")
            }, 500);
        });
    })
</script>