.pad-x-15 {
    padding-left:15px!important;
    padding-right:15px!important;
}
.hidden {
    visibility: hidden;
}
.default {
    color: #777;
}
.primary {
    color: #337ab7;
}
.success {
    color: #5cb85c;
}

.warning {
    color: #f0ad4e;
}

.danger {
    color: #d9534f;
}

.info {
    color: #5bc0de;
}
a {
    cursor: pointer;;
}
.top-25 {
    padding-top: 25px;
}
.btn-xs {
    padding: 2px 5px 2px 5px;
    font-size: 12px;
}
.card-body {
    padding: 10px;
}
.main-container {
    margin-top: 56px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}

table select {
    height : 35px;
}

.breadcrumb h5 {
    vertical-align: middle;
    line-height: 37px;
    padding-right: 15px;
    padding-bottom: 0px!important;
    margin-bottom: 0px;
}

.status-col, .action-col {
    width: 10%;
    text-align:center;
}

.list-group-item{
    padding: 0.45rem 1.25rem;
}

.search-input{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px!important;
}
.search-btn, .calendar-btn{
    margin-top: 0px;
    height: 30px;
    width: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

    textarea {
        height: 50px;
    }
    
  .table td {
    padding: 0.55rem!important;
}

.important {
    font-weight: bold;
}

.component-content {
    display: flex;
    padding-top : 10px;
}
.component-content ul {
    list-style-type : none;
    padding-left: 0px;
}
.component-header {
    border-bottom: 1px solid #215684;
    padding-bottom: 5px;
}

#user-module-control-grid th, #user-module-control-grid td{
    width : 5%;
}
#user-module-control-grid td {
    font-size: 13px;
}

.sub-header{
    padding-top: 7px;
    padding-bottom: 7px;
}
.form-group small {
    color: #868e96;
}

#loans-list table th {
    text-align: center;
}


@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
        margin-top: 50px!important;
    }
}

.main-control-body {
    height: 650px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 5px solid #bce8f1;
}

/*modal*/
.modal-header {
    color: #31708f;
    background-color: #d9edf7;
    border-bottom: 1px solid #bce8f1;
    border-radius: 6px 6px 0px 0px;
}
.modal-title {
    font-weight: bold;
    text-transform: uppercase;
}

.modal-header{
    padding: .7rem!important;
}

/*labels*/
.form-span-label {
    font-size: 11px;
    display: block;
    padding-bottom: 5px;
    color: #1a4e79;
    padding-top: 5px;
    font-weight: bold;
}

.form-span-label-nb {
    font-size: 11px;
    color: #428bca;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-label-symbol {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
}

#details-loan .form-line, .confirm-loan .form-line {
    border-bottom: 1px #d6d2d2 solid;
    height: 60px;
}

.form-line .input-group {
    width: 100%;
}
.form-label-symbol {
    float:right;
}
.col-form-label-sm {
    font-size: 12px;
    font-weight: bold;
}

#loans-mobile-detail .col-form-label-sm {
    font-size: 0.9rem;
    font-weight: bold;
}
#loans-mobile-detail .form-line {
    border-bottom: 1px #d6d2d2 solid;
    height: 60px;
}

#loans-mobile-detail .form-span-label {
    padding-bottom: 0px;
}

#confirmation-audit-list {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 13px;
}

.confirm-loan {
    width:50%; position: absolute; 
    top: 50%; left: 50%;
    transform: translateX(-50%);
}
.info-banner{
    font-weight: bold;
    text-transform: uppercase;
}
.info-banner .alert {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

.control-group .dropdown-menu{
    overflow-y: scroll!important;
    height: 300px!important;
}
// mobile
.btn-group {
    text-align: center;
    display: flex;
}
.left-btn{
    width: 48%;
    margin-right: 5px;
    float: left;
}
.right-btn{
    width: 51%;
    margin-left: 5px;
    float: right;
}

#loans-mobile-create section{
    height: 600px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    max-width: 100%;
    font-size: 1.00rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;

    border: 1px solid #428bca;
    color: #428bca;
    background-color: #ebf6ff;
    padding: 0px!important;
}

.inputfile + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile + label strong {
    height: 100%;
    color:#ebf6ff;
    background-color:#3d81bb;
    display: inline-block;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.inputfile + label span, .inputfile + label strong {
    padding: 0.625rem 1.25rem;
}

@media screen and (max-width: 900px) {
    .confirm-loan {
        width:100%; 
        top: auto;
        left: auto;
    }
}