﻿<script type="text/template" id="t-loan-create">
    <div class="loan" id="create-loan">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="pull-left panel-title sm-btns"> CREATE NEW LOAN </h3>
                        <div class="pull-right">
                            <button type="button" class="btn btn-xs btn-info"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn btn-xs btn-info" data-bind="click:backToList"><i class="fa fa-arrow-circle-left"></i></button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body main-control-body">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line row clearfix">
                                        <div class="col-sm-12"><input type="text" placeholder="Search Customer" class="form-control" id="search-customer" data-bind="enable:searchCustomerEnabled"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-float">
                                    <div class="form-line">
                                        <span class="form-span-label-nb">Name</span>
                                        <input type="text" placeholder="Name" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-float">
                                    <div class="form-line">
                                        <span class="form-span-label-nb">Company</span>
                                        <input type="text" placeholder="Company" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <div class="form-float">
                                    <div class="form-line">
                                        <span class="form-span-label-nb">Address 1</span>
                                        <div class="input-group">
                                            <input type="text" placeholder="Address 1" class="form-control">
                                            <span class="input-group-addon">
                                                <span class="fa fa-map-marker"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-float">
                                    <div class="form-line">
                                        <span class="form-span-label-nb">City</span>
                                        <div class="input-group">
                                            <input type="text" placeholder="City" class="form-control">
                                            <span class="input-group-addon">
                                                <span class="fa fa-map-marker"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-float">
                                    <div class="form-line">
                                        <span class="form-span-label-nb">Post Code</span>
                                        <div class="input-group">
                                            <input type="text" placeholder="Zip Code" class="form-control">
                                            <span class="input-group-addon">
                                                <span class="fa fa-map-marker"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <div class="form-float">
                                    <div class="form-line">
                                        <span class="form-span-label-nb">Site</span>
                                        <select class="form-control show-tick" id="edit-facilities-select" data-bind="options: facilities,
                                                optionsText: 'Name',
                                                optionsValue: 'Id',
                                                optionsCaption: 'Select Site'"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-float">
                                    <div class="form-line">
                                        <span class="form-span-label-nb">Mobile #</span>
                                        <div class="input-group">
                                            <input type="text" placeholder="Mobile Number" class="form-control">
                                            <span class="input-group-addon">
                                                <span class="fa fa-phone"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-float">
                                    <div class="form-line">
                                        <span class="form-span-label-nb">Email</span>
                                        <div class="input-group">
                                            <input type="text" placeholder="Email" class="form-control">
                                            <span class="input-group-addon">
                                                <span class="fa fa-envelope-o"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <div class="form-float">
                                    <div class="form-line">
                                        <span class="form-span-label-nb">Type</span>
                                        <select class="form-control show-tick" id="edit-types-select" data-bind="options: types,
                                                optionsText: 'Name',
                                                optionsValue: 'Id',
                                                optionsCaption: 'Select Type'"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-float">
                                    <div class="form-line">
                                        <span class="form-span-label-nb">Item Name</span>
                                        <input type="text" placeholder="Object / Item ID" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-float" data-bind="visible:editMode">
                                    <div class="form-line">
                                        <span class="form-span-label-nb">Upload Image</span>
                                        <input type="file" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <div class="form-float">
                                    <div class="form-line">
                                        <span class="form-span-label-nb">Start</span>
                                        <div class="input-group date" id="datetimepicker1">
                                            <input type="text" placeholder="Loan Date" class="form-control datetimepicker">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-float">
                                    <div class="form-line">
                                        <span class="form-span-label-nb">Returned</span>
                                        <div class="input-group date" id='datetimepicker1'>
                                            <input type="text" placeholder="Return Date" class="form-control datetimepicker">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 pull-right">
                                <div class="form-float">
                                    <div class="form-line">
                                        <span class="form-span-label-nb">Snapshot</span>
                                        <img src="/Assets/images/upload-empty.png" class="img-fluid img-rounded img-thumbnail" />
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="col-sm-8">
                                    <div class="form-float">
                                        <div class="form-line">
                                            <span class="form-span-label-nb">Description</span>
                                            <textarea placeholder="Description" class="form-control" style="height:50px" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-float">
                                        <div class="form-line">
                                            <span class="form-span-label-nb">Given By</span>
                                            <input type="text" placeholder="Given By" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-float">
                                        <div class="form-line">
                                            <span class="form-span-label-nb">Received By</span>
                                            <input type="text" placeholder="Received By" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-float">
                                        <hr style="margin:10px 0px" />
                                        <label>Confirmation <i class="fa fa-bell-o" style="color:#0094ff"></i></label>
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-xs btn-info"><i class="fa fa-send"></i></button>
                                        </div>
                                        <div class="demo-radio-button">
                                            <input name="confirmation-process" type="radio" class="with-gap" id="radio-email" value=1 />
                                            <span>Send via Email</span>
                                            <input name="confirmation-process" type="radio" class="with-gap" id="radio-sms" value=2 />
                                            <span>Send via SMS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
