﻿<script type="text/template" id="t-loan-list">
    <div data-bind="css: gridClass">
        <div class="loan" id="list-loan">
            <div class="panel panel-info">
                <div class="panel-heading" style="padding-top: 5px; padding-bottom:2px;">
                    <h3 class="pull-left panel-title"> LOAN LIST </h3>
                    <div class="pull-right">
                        <div class="col-sm-3 pad-x-5">
                            <div id="search-section">
                                
                            </div>
                        </div>
                        <div class="col-sm-3 pad-x-5">
                            <select class="form-control show-tick input-sm" data-bind="options: statuses,
                                    optionsText: 'Name',
                                    optionsValue: 'Id'">
                            </select>
                        </div>
                        <div class="col-sm-3 pad-x-5">
                            <select class="form-control show-tick  input-sm" data-bind="options: facilitiesData,
                                    optionsText: 'Name',
                                    optionsValue: 'Id',
                                    optionsCaption: 'All Facility'"></select>

                        </div>
                        <div class="col-sm-3 pad-x-5">
                            <select class="form-control show-tick input-sm" data-bind="options: loanTypes,
                                    optionsText: 'Name',
                                    optionsValue: 'Id',
                                    optionsCaption: 'All Types'"></select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-x-5">
                            <div class="card">
                                <div class="header bg-light-blue">
                                </div>
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table id="list-loan-grid" class="table table-bordered table-striped table-hover dataTable">
                                                    @*<thead>
                                                        <tr class="table-header">
                                                            <th>Date Create</th>
                                                            <th>Facility</th>
                                                            <th>Type</th>
                                                            <th>Customer</th>
                                                            <th>Start Date</th>
                                                            <th>Returned Date</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody data-bind="foreach: loans">
                                                        <tr data-bind="click:customerDetails.bind($data, $data)">
                                                            <td data-bind="text: CreatedDate"></td>
                                                            <td data-bind="text: FacilityName"></td>
                                                            <td data-bind="text: LoanTypeName"></td>
                                                            <td data-bind="text: CustomerName"></td>
                                                            <td data-bind="text: LoanedDate"></td>
                                                            <td data-bind="text: ReturnedDate"></td>
                                                            <td class="table-actions">
                                                                <a href="javascript:void(0);" data-bind="click:editCusomter.bind($data, $data)"><span class="label label-warning"><i class="fa fa-pencil"></i></span></a>        
                                                                <a href="javascript:void(0);"><span class="label label-danger"><i class="fa fa-trash-o"></i></span></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>*@
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 pad-x-5">
        <div class="loan" id="list-loan-detail">
            <div class="col-lg-12 col-md-12 col-sm-12 pad-x-5">
                <div id="loan-details-container">
                </div>
            </div>
        </div>
    </div>
</script>