<div class="tenants">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header">
                   List of Tenants
                   <div class="pull-right" [hidden]="!isAdminOrUserEditor">
                       <a href="/tenants/create"><i style="color:#007bff" class="fa fa-plus-square"></i> New Tenant </a>&nbsp;
                   </div>
                </div>
                <div class="card-body">
                    <div class="card-body table-responsive">
                        <app-tenants-list #tenantsList></app-tenants-list>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>
